/* src/index.css */
/* Tu peux ajouter des styles globaux ici */

body {
  background-color: #f8f9fa; /* Couleur claire bootstrap */
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
